Repository Wolven531/simple-cra-app, pull requests merged in 2021-06, with the labels that each got.

#4 Implement update token
  src/ConfigPage/ConfigPage.tsx
  src/services/ApiService.ts
Labels: enhancement

#6 Adding Cypress with a few starter tests
  .gitignore
  test/cypress.json
  test/cypress/fixtures/example.json
  test/cypress/integration/examples/actions.spec.js
  test/cypress/integration/examples/aliasing.spec.js
  test/cypress/integration/examples/assertions.spec.js
  test/cypress/integration/examples/connectors.spec.js
  test/cypress/integration/examples/cookies.spec.js
  test/cypress/integration/examples/cypress_api.spec.js
  test/cypress/integration/examples/files.spec.js
  test/cypress/integration/examples/local_storage.spec.js
  test/cypress/integration/examples/location.spec.js
  test/cypress/integration/examples/misc.spec.js
  test/cypress/integration/examples/navigation.spec.js
  test/cypress/integration/examples/network_requests.spec.js
  test/cypress/integration/examples/querying.spec.js
  test/cypress/integration/examples/spies_stubs_clocks.spec.js
  test/cypress/integration/examples/traversal.spec.js
  test/cypress/integration/examples/utilities.spec.js
  test/cypress/integration/examples/viewport.spec.js
  test/cypress/integration/examples/waiting.spec.js
  test/cypress/integration/examples/window.spec.js
  test/cypress/integration/simplePage.spec.js
  test/cypress/plugins/index.js
  test/cypress/support/commands.js
  test/cypress/support/index.js
  test/package-lock.json
  test/package.json
Labels: approved

#7 CSS File Updates for ConfigPage
  src/ConfigPage/ConfigPage.css
  src/ConfigPage/ConfigPage.tsx
Labels: CSS

#9 Add css baseline
  src/App/App.css
  src/App/App.tsx
  src/ConfigPage/ConfigPage.tsx
  test/package-lock.json
Labels: CSS

#16 Replaced anchors tags with link tags
  .gitignore
  src/ConfigPage/ConfigPage.tsx
  test/cypress/integration/simplePage.spec.js
Labels: approved, good first issue

#18 Add MUI theme
  src/App/App.css
  src/App/App.tsx
  src/ConfigPage/ConfigPage.tsx
  src/Nav/Nav.tsx
  src/PageNotFoundPage/PageNotFoundPage.tsx
  src/index.tsx
  src/theme.ts
Labels: css, feature

#24 Added Footer and Footer css
  src/App/App.css
  src/App/App.tsx
  src/Footer/Footer.css
  src/Footer/Footer.tsx
Labels: changes requested, css, feature, good first issue

#27 Add footer tests
  src/App/App.tsx
  src/Footer/Footer.css
  src/Footer/Footer.test.tsx
  src/Footer/Footer.tsx
Labels: tests

#25 Extracted home page into its own component
  src/App/App.tsx
  src/Home/Home.tsx
Labels: approved, feature

#23 Added header component and associated files
  src/App/App.tsx
  src/Header/Header.css
  src/Header/Header.tsx
Labels: approved, css, feature

#22 Add search users page
  src/App/App.tsx
  src/Nav/Nav.tsx
  src/SearchUsersPage/SearchUsersPage.css
  src/SearchUsersPage/SearchUsersPage.tsx
  src/services/ApiService.ts
Labels: approved, css, feature

#17 Replace Nav with App bar
  package-lock.json
  package.json
  src/ApiContext.tsx
  src/App/App.test.tsx
  src/App/App.tsx
  src/AppTitleContext.tsx
  src/ConfigPage/ConfigPage.test.tsx
  src/ConfigPage/ConfigPage.tsx
  src/Header/Header.css
  src/Header/Header.tsx
  src/IconDemo.tsx
  src/Nav/Nav.test.tsx
  src/Nav/Nav.tsx
  src/PageNotFoundPage/PageNotFoundPage.tsx
  src/setupTests.ts
  test/cypress/integration/simplePage.spec.js
  test/cypress/support/index.js
  test/package-lock.json
  test/package.json
Labels: approved, css, feature

#34 Remove enzyme
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/setupTests.ts
Labels: approved, bug, tests
